@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --destructive: 0 100% 50%;
  --destructive-foreground: 210 40% 98%;
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
}

.dark {
  --destructive: 210 40% 96.1%;
  --destructive-foreground: 0 100% 50%;
  --background: 222.2 47.4% 11.2%;
  --foreground: 0 0% 100%;
  --muted: 215.4 16.3% 46.9%;
  --muted-foreground: 210 40% 98%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 210 40% 96.1%;
}
